$themecolor: rgb(236, 69, 97);

//Utility classes
.container-pad {
    padding: 0 20px;
    background-color: white;
}

.btn-cool{
    width: 150px;
    height: 40px;
    margin-top: 40px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: 50ms ease-out; 
    outline: none;

    &:active, &:hover {
        background: white;
        color: black;
    }
}

.btn-white {
    width: 80px;
    height: 40px;
    margin-top: 30px;
    border: 3px solid #fff;
    background: white;
    color: black;
    transition: 100ms ease-out; 
    outline: none;

    &:active {
        transform: translateY(-5px);
    }
}

h2.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

span {
    font-size: 19px;
    color: rgb(83, 78, 78);
    font-family: 'Jost', sans-serif;
}

//Mixins
@mixin styledInput {
    margin: 10px 0;
    background: rgb(238, 232, 235);
    border: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}

@mixin imgcover($size) {
    .img-cover {
        width: $size;
        height: $size;
        border-radius: 50%;
    
        &>img.profile-photo {
            width: inherit;
            height: inherit;
            border-radius: inherit;
        }
    }
}

@mixin centerize() {
    display: flex;
    align-items: center;
    justify-content: center;
}