@import 'utilities';

* {
    box-shadow: border-box;
}

body {
    padding: 0;
    margin: 0;
}


.container {
    width: 100%;
    height: 100%;
    position: fixed !important;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    .cover {
        width: 100%;
        height: 120px;
        background-color: $themecolor;
    }

    .intro {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;


        @include imgcover(90px);
        .img-cover {
            position: absolute;
            top: -40px;
        }

        .text {
            margin-top: 35px;
        }
    }
}

.custom-button {
    position: fixed;
    bottom: 5%;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: $themecolor;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0,0,0, .4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 5;

    &>.lines {
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin-top: 3px;
        margin-bottom: 3px;
        transition: 200ms;
    }
    &.opened {
        
        &>.lines{
            &:last-child {
                display: none;
            }
            &:first-child {
                transform: skewY(-45deg) translateY(4px) scale(.8);
            }
            &:nth-child(2) {
                transform: skewY(45deg) translateY(-4px) scale(.8);
            }
        }
    }
}

.socials {

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;

    .icon-container {
        width: 80px;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        & .icon {
            font-size: 35px;

            &#twitter {
                color: rgb(46, 145, 190);
            }
            &#github {
                color: #000;
            }
            &#linkedin {
                color: rgb(12, 126, 233);
            }
        }
    }

}

.skills {
    .title-div {
        // background-color: $themecolor;
        // padding: 10px;
        &>h3{
            font-family: 'Poppins', sans-serif;
            margin-bottom: 10px;
            // width: 100px;
        }
    }
    #skill_list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        

        &>li {

            font-size: 17px;
            font-family: 'Jost', sans-serif;
            margin: 10px 0;
            color: rgb(83, 78, 78);
        }
    }
}

.contact {
    width: 100%;
    height: 40vh;
    background: white;

    &>form {
        display: flex;
        flex-direction: column;
        background: inherit;

        h3 {
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
        }
        input {
            height: 45px;
            padding-left: 15px;
            @include styledInput;
        }
        textarea {
            height: 100px;
            padding: 15px 0 0 15px;
            @include styledInput;
        }
        .submit { 
            height: 50px;
            font-size: 17px;
            margin-bottom: 20px;
            background: $themecolor;
            color: white;
            margin-top: 10px;
            border: $themecolor;

            &:active {
                transform: scale(.8);
            }
        }
    }
}

.box-down {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 3;
    bottom: -100vh;
    transition: 0.2s ease-out;

    &.up {
        bottom: 0;
        transition: 0.2s ease-in;
    }

    .top-box {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include imgcover(120px);

        &>h2 {
            margin-bottom: 2px;
        }
    }
    .bottom-box {
        width: 100%;
        
        height: 50%;
        display: flex;
        flex-direction: column;

        .list-action {
            display: flex;
            width: 100%;
            height: 60px;
            text-decoration: none;

            .text {
                flex-grow: 1;
                @include centerize();
                justify-content: start !important;
                padding-left: 10px;
                font-weight: 400;
            }
            .icon-div {
                width: 60px;
                height: 60px;
                @include centerize();

                &.forward {
                    justify-content: flex-end;
                }
                .icon {
                    width: 45px;
                    height: 45px;
                    @include centerize();
                    border-radius: 10px;

                    &.resume-i {
                        background: lighten($themecolor, 30%);
                        i {
                            color: $themecolor;
                        }
                    }
                    &.projects-i {
                        background-color: rgba(236, 171, 117, .5);
                    }
                    &.share-i {
                        background: lighten(orange, 35%);
                        i {
                            color: rgb(189, 189, 52);
                        }
                    }
                    &.contact-i {
                        background: rgb(241, 227, 230);
                    }
                }
            }
        }
    }
}

.desktop-cover {
    display: none;
}

#result {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include centerize();
    background: rgba(0, 0, 0, .7);
    z-index: 7;
    transition: 300ms ease-out;

    & > .container {
        @include centerize();
        flex-direction: column;
        height: 50%;
        width: 50%;

        &>.signaler {
            @include centerize();
            width: 100px;
            height: 100px;
            border-radius: 50%;
            
            &.ok {
                background: green;
            }
            &.bad {
                background: red;
            }
            .marker {
                font-size: 50px;
                color: white;
            }
        }

        .reply {
            color: white;
            margin-top: 10px;
            font-weight: 600;
            text-align: center;     
        }
    }

    &.close {
        visibility: hidden;      
    }

}

@import 'desktop';